In [ ]:
import mysql.connector
import pandas as pd

#DB ì ‘ì† ì •ë³´
'''db_config = {
    'host': "54.66.228.99",
    'user': "root",
    'password': "ai-challenge-1234",
    'database': "ai_challenge",
    'port': 3306 # ë°›ìœ¼ì‹  í¬íŠ¸ ë²ˆí˜¸ê°€ ë‹¤ë¥´ë‹¤ë©´ ìˆ˜ì •í•´ì£¼ì„¸ìš”.
}
'''
# ----------------------------------------------------------------

#DBì—ì„œ ê°€ì ¸ì˜¬ ë°ì´í„°ì— ëŒ€í•œ SQL ì¿¼ë¦¬ ì •ì˜

# ìŠ¤ì¼€ì¥´ í…Œì´ë¸”
query_schedule = "SELECT * FROM schedule;"

# ì¹´ë“œ + í˜œíƒ í…Œì´ë¸”
query_card_benefits = """SELECT * FROM card c JOIN benefit b ON c.card_id=b.card_id """


df_schedule = pd.DataFrame()
df_card_benefits = pd.DataFrame()
connection = None
try:
    connection = mysql.connector.connect(**db_config)
    print("âœ… DB ì—°ê²° ì„±ê³µ!")
    
    df_schedule = pd.read_sql(query_schedule, connection)
    print(f"âœ… ìŠ¤ì¼€ì¥´ ë°ì´í„° {len(df_schedule)}ê±´ ë¡œë”© ì™„ë£Œ!")
    
    df_card_benefits = pd.read_sql(query_card_benefits, connection)
    print(f"âœ… ì¹´ë“œ+í˜œíƒ ë°ì´í„° {len(df_card_benefits)}ê±´ ë¡œë”© ì™„ë£Œ!")

except Exception as e:
    print(f"âŒ ë°ì´í„° ë¡œë”© ì¤‘ ì—ëŸ¬ ë°œìƒ: {e}")
    print("-> DB ì ‘ì† ì •ë³´ë‚˜ SQL ì¿¼ë¦¬ì˜ í…Œì´ë¸”/ì»¬ëŸ¼ ì´ë¦„ì´ ì •í™•í•œì§€ í™•ì¸í•´ì£¼ì„¸ìš”.")
finally:
    if connection and connection.is_connected():
        connection.close()
        print("âœ… DB ì—°ê²°ì´ ì•ˆì „í•˜ê²Œ ì¢…ë£Œë˜ì—ˆìŠµë‹ˆë‹¤.")

print("\n--- [í™•ì¸] ìŠ¤ì¼€ì¥´ ë°ì´í„° (ìƒìœ„ 3ê°œ) ---")
display(df_schedule.head(3))

print("\n--- [í™•ì¸] ì¹´ë“œ+í˜œíƒ ë°ì´í„° (ìƒìœ„ 3ê°œ) ---")
display(df_card_benefits.head(3))

âœ… DB ì—°ê²° ì„±ê³µ!

C:\Users\i0215531\AppData\Local\Temp\ipykernel_10592\1617058760.py:30: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_schedule = pd.read_sql(query_schedule, connection)

âœ… ìŠ¤ì¼€ì¥´ ë°ì´í„° 3ê±´ ë¡œë”© ì™„ë£Œ!

C:\Users\i0215531\AppData\Local\Temp\ipykernel_10592\1617058760.py:33: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_card_benefits = pd.read_sql(query_card_benefits, connection)

âœ… ì¹´ë“œ+í˜œíƒ ë°ì´í„° 77ê±´ ë¡œë”© ì™„ë£Œ!
âœ… DB ì—°ê²°ì´ ì•ˆì „í•˜ê²Œ ì¢…ë£Œë˜ì—ˆìŠµë‹ˆë‹¤.

--- [í™•ì¸] ìŠ¤ì¼€ì¥´ ë°ì´í„° (ìƒìœ„ 3ê°œ) ---

,schedule_id,created_at,is_deleted,modified_at,schedule_color,schedule_end_date,schedule_frequency,schedule_is_checklist,schedule_name,schedule_repeat_end_date,schedule_repeat_start_date,schedule_start_date,user_id
0,1,2025-08-31 00:23:05.766721,0,2025-08-31 00:23:05.766721,#FF5733,2025-08-31 23:00:00,NONE,0,ê°œë°œ ê³µë¶€,NaT,NaT,2025-08-31 22:00:00,b'\x89\xdb\xf5>\xc7EE\xe0\x88\x07;\x11#-\xbb\xb9'
1,2,2025-08-31 00:23:14.303708,0,2025-08-31 00:23:14.303708,#FF5733,2025-07-25 11:00:00,MONTHLY,0,ì›”ê¸‰ë‚,2026-08-21 12:00:00,2025-07-25 11:00:00,2025-07-25 11:00:00,b'\x89\xdb\xf5>\xc7EE\xe0\x88\x07;\x11#-\xbb\xb9'
2,3,2025-08-30 15:26:35.704191,0,2025-08-30 15:26:35.704191,#FF5733,2025-08-01 05:00:00,WEEKLY,0,ì ì‹¬ íšŒì˜,2025-11-30 15:00:00,2025-08-01 04:00:00,2025-08-01 04:00:00,b'\x89\xdb\xf5>\xc7EE\xe0\x88\x07;\x11#-\xbb\xb9'

--- [í™•ì¸] ì¹´ë“œ+í˜œíƒ ë°ì´í„° (ìƒìœ„ 3ê°œ) ---

,card_id,created_at,is_deleted,modified_at,card_annual_fee_domestic,card_annual_fee_international,card_benefit_limit,card_category,card_name,benefit_id,...,benefit_amount_limit,benefit_category,benefit_content,benefit_frequency_type,benefit_max_amount,benefit_min_amount,benefit_percent,benefit_times,benefit_type,card_id
0,1,2025-09-05 05:12:37,0,2025-09-05 05:12:37,15000,18000,None,CREDIT,ì‹ í•œì¹´ë“œ Mr.Life,1,...,3000.0,UTILITY_BILLS_RENTAL,"ì „ê¸°ìš”ê¸ˆ /ë„ì‹œê°€ìŠ¤ìš”ê¸ˆ/ SKT, LG U+, KT í†µì‹ ìš”ê¸ˆ í• ì¸",MONTHLY,500000.0,300000.0,10.0,NaN,BILLING_DISCOUNT,1
1,1,2025-09-05 05:12:37,0,2025-09-05 05:12:37,15000,18000,None,CREDIT,ì‹ í•œì¹´ë“œ Mr.Life,2,...,7000.0,UTILITY_BILLS_RENTAL,"ì „ê¸°ìš”ê¸ˆ /ë„ì‹œê°€ìŠ¤ìš”ê¸ˆ/ SKT, LG U+, KT í†µì‹ ìš”ê¸ˆ í• ì¸",MONTHLY,1000000.0,500000.0,10.0,NaN,BILLING_DISCOUNT,1
2,1,2025-09-05 05:12:37,0,2025-09-05 05:12:37,15000,18000,None,CREDIT,ì‹ í•œì¹´ë“œ Mr.Life,3,...,10000.0,UTILITY_BILLS_RENTAL,"ì „ê¸°ìš”ê¸ˆ /ë„ì‹œê°€ìŠ¤ìš”ê¸ˆ/ SKT, LG U+, KT í†µì‹ ìš”ê¸ˆ í• ì¸",MONTHLY,NaN,1000000.0,10.0,NaN,BILLING_DISCOUNT,1

In [ ]:
# ì´ ì…€ì€ LLM APIë¥¼ í˜¸ì¶œí•˜ì—¬ ìŠ¤ì¼€ì¥´ì˜ í•µì‹¬ ì¹´í…Œê³ ë¦¬ë¥¼ ë¶„ì„í•˜ëŠ” í•¨ìˆ˜ë¥¼ ì •ì˜í•©ë‹ˆë‹¤.
from openai import OpenAI

# --- LLM API Key ì„¤ì • ---
# ë°œê¸‰ë°›ì€ OpenAI API Keyë¥¼ ì—¬ê¸°ì— ë¶™ì—¬ë„£ìœ¼ì„¸ìš”.
# (ì‹¤ì œ ì„œë¹„ìŠ¤ì—ì„œëŠ” ì´ í‚¤ë¥¼ ì½”ë“œì— ì§ì ‘ ë…¸ì¶œí•˜ë©´ ì•ˆ ë˜ì§€ë§Œ, ì§€ê¸ˆì€ í…ŒìŠ¤íŠ¸ ëª©ì ì…ë‹ˆë‹¤.)
#client = OpenAI(api_key = "ã…Œ")

# -----------------------------------------------------------

# --- AIì˜ í•µì‹¬ ë‘ë‡Œ í•¨ìˆ˜ (ìµœì¢… í‘œì¤€ ë²„ì „) ---
def get_recommendation_final(schedule_name, knowledge_df):
    
    # --- ë°±ì—”ë“œì™€ ì•½ì†ëœ 'ì •ë‹µì§€' (ì¹´ë“œ í˜œíƒ ì¹´í…Œê³ ë¦¬ ëª©ë¡) ---
    BENEFIT_CATEGORIES = [
        "ALL_MERCHANTS", "TRANSPORTATION", "FUEL", "TELEPHONE_CHARGE", "MART_CONVENIENCE_STORE", 
        "ONLINE_SHOPPING", "SHOPPING", "FOOD", "CAFE_DESSERT", "BEAUTY_FITNESS", 
        "NO_SPENDING_REQUIREMENT", "UTILITY_BILLS_RENTAL", "HOSPITAL_PHARMACY", "PETS", 
        "EDUCATION_CHILDCARE", "AUTOMOBILE_HI_PASS", "LEISURE_SPORTS", "DIGITAL_SUBSCRIPTION", 
        "MOVIES_CULTURE", "EASY_PAYMENT", "AIRLINE_MILEAGE", "AIRPORT_LOUNGE_PRIORITY_PASS", 
        "PREMIUM", "TRAVEL_ACCOMMODATION", "OVERSEAS", "BUSINESS", "ETC"
    ]
    
    prompt = f"""
        ë‹¹ì‹ ì€ ì‚¬ìš©ìì˜ ìº˜ë¦°ë” ì¼ì •ì„ ë¶„ì„í•˜ì—¬ ê°€ì¥ ê´€ë ¨ ìˆëŠ” ì†Œë¹„ ì¹´í…Œê³ ë¦¬ë¥¼ ì°¾ì•„ì£¼ëŠ” AIì…ë‹ˆë‹¤.
        ì•„ë˜ "ì¹´í…Œê³ ë¦¬ ëª©ë¡" ì¤‘ì—ì„œ "{schedule_name}"ë¼ëŠ” ì¼ì • ë‚´ìš©ê³¼ ê°€ì¥ ê´€ë ¨ ê¹Šì€ ê²ƒ ë‹¨ í•˜ë‚˜ë§Œ ê³¨ë¼, 
        ë‹¤ë¥¸ ì„¤ëª…ì€ ì¼ì ˆ ì—†ì´, ë°˜ë“œì‹œ ì˜ì–´ ì¹´í…Œê³ ë¦¬ ì´ë¦„ìœ¼ë¡œë§Œ ëŒ€ë‹µí•´ì£¼ì„¸ìš”.
        ë§Œì•½ ê´€ë ¨ ìˆëŠ” ì¹´í…Œê³ ë¦¬ê°€ ì—†ë‹¤ë©´ 'ETC'ë¼ê³  ëŒ€ë‹µí•˜ì„¸ìš”.

        --- ì¹´í…Œê³ ë¦¬ ëª©ë¡ ---
        {', '.join(BENEFIT_CATEGORIES)}
    """
    try:
        # í‘œì¤€ v1.0.0 ë°©ì‹ì˜ API í˜¸ì¶œ
        response = client.chat.completions.create(
            model="gpt-4",
            messages=[{"role": "user", "content": prompt}],
            temperature=0.0
        )
        llm_category = response.choices[0].message.content.strip()
        if llm_category not in BENEFIT_CATEGORIES: llm_category = "ETC"
    except Exception as e:
        print(f"LLM ë¶„ì„ ì‹¤íŒ¨: {e}")
        llm_category = "ETC"

    if llm_category != "ETC":
        result_df = knowledge_df[knowledge_df['benefit_category'] == llm_category]
        if not result_df.empty:
            top_card = result_df.iloc[0]
            return f"â–¶ '{llm_category}' í˜œíƒ! [{top_card['card_name']}] ì¹´ë“œì˜ '{top_card['benefit_info']}' í˜œíƒì„ ì¶”ì²œí•©ë‹ˆë‹¤!"
        else:
            return f"'{llm_category}' ì¹´í…Œê³ ë¦¬ì˜ í˜œíƒì€ ìˆìœ¼ë‚˜, í˜„ì¬ ë³´ìœ í•œ ì§€ì‹ ë‚´ì— ì í•©í•œ ì¹´ë“œê°€ ì—†ìŠµë‹ˆë‹¤."
    return "ì—°ê´€ëœ ì¹´ë“œ í˜œíƒì„ ì°¾ì§€ ëª»í–ˆìŠµë‹ˆë‹¤."

===== ğŸ¤– [ìµœì¢… ë²„ì „] AI ìº˜ë¦°ë” ì—ì´ì „íŠ¸ ì¶”ì²œ ì‹œë®¬ë ˆì´ì…˜ ì‹œì‘ ğŸ¤– =====
LLM ë¶„ì„ ì‹¤íŒ¨: Connection error.

ğŸ—“ï¸ ì…ë ¥ëœ ì¼ì •: ê°œë°œ ê³µë¶€
ğŸ’¬ AIì˜ ì¶”ì²œ: ì—°ê´€ëœ ì¹´ë“œ í˜œíƒì„ ì°¾ì§€ ëª»í–ˆìŠµë‹ˆë‹¤.
------------------------------------------------------------
LLM ë¶„ì„ ì‹¤íŒ¨: Connection error.

ğŸ—“ï¸ ì…ë ¥ëœ ì¼ì •: ì›”ê¸‰ë‚
ğŸ’¬ AIì˜ ì¶”ì²œ: ì—°ê´€ëœ ì¹´ë“œ í˜œíƒì„ ì°¾ì§€ ëª»í–ˆìŠµë‹ˆë‹¤.
------------------------------------------------------------
LLM ë¶„ì„ ì‹¤íŒ¨: Connection error.

ğŸ—“ï¸ ì…ë ¥ëœ ì¼ì •: ì ì‹¬ íšŒì˜
ğŸ’¬ AIì˜ ì¶”ì²œ: ì—°ê´€ëœ ì¹´ë“œ í˜œíƒì„ ì°¾ì§€ ëª»í–ˆìŠµë‹ˆë‹¤.
------------------------------------------------------------

In [ ]:
print("===== ğŸ¤– [ìµœì¢… ë²„ì „] AI ìº˜ë¦°ë” ì—ì´ì „íŠ¸ ì¶”ì²œ ì‹œë®¬ë ˆì´ì…˜ ì‹œì‘ ğŸ¤– =====")

# 1ë‹¨ê³„ì—ì„œ ë¡œë“œí•œ ëª¨ë“  ìŠ¤ì¼€ì¥´ì„ í•˜ë‚˜ì”© AIì—ê²Œ ë¬¼ì–´ë´…ë‹ˆë‹¤.
for index, schedule in df_schedule.iterrows():
    schedule_name = schedule['schedule_name']
    
    # 2ë‹¨ê³„ì—ì„œ ë§Œë“  AI ë‘ë‡Œ í•¨ìˆ˜ë¥¼ í˜¸ì¶œí•˜ì—¬ ì¶”ì²œ ê²°ê³¼ë¥¼ ë°›ìŠµë‹ˆë‹¤.
    recommendation = get_recommendation_final(schedule_name, df_card_benefits)
    
    # ê²°ê³¼ë¥¼ ì¶œë ¥í•©ë‹ˆë‹¤.
    print(f"\nğŸ—“ï¸ ì…ë ¥ëœ ì¼ì •: {schedule_name}")
    print(f"ğŸ’¬ AIì˜ ì¶”ì²œ: {recommendation}")
    print("-" * 60)

print("\n===== âœ… ì‹œë®¬ë ˆì´ì…˜ì´ ì„±ê³µì ìœ¼ë¡œ ì™„ë£Œë˜ì—ˆìŠµë‹ˆë‹¤. =====")

===== ğŸ¤– [ìµœì¢… ë²„ì „] AI ìº˜ë¦°ë” ì—ì´ì „íŠ¸ ì¶”ì²œ ì‹œë®¬ë ˆì´ì…˜ ì‹œì‘ ğŸ¤– =====
LLM ë¶„ì„ ì‹¤íŒ¨: Missing required arguments; Expected either ('input' and 'model') or ('input', 'model' and 'stream') arguments to be given

ğŸ—“ï¸ ì…ë ¥ëœ ì¼ì •: ê°œë°œ ê³µë¶€
ğŸ’¬ AIì˜ ì¶”ì²œ: ì—°ê´€ëœ ì¹´ë“œ í˜œíƒì„ ì°¾ì§€ ëª»í–ˆìŠµë‹ˆë‹¤.
------------------------------------------------------------
LLM ë¶„ì„ ì‹¤íŒ¨: Missing required arguments; Expected either ('input' and 'model') or ('input', 'model' and 'stream') arguments to be given

ğŸ—“ï¸ ì…ë ¥ëœ ì¼ì •: ì›”ê¸‰ë‚
ğŸ’¬ AIì˜ ì¶”ì²œ: ì—°ê´€ëœ ì¹´ë“œ í˜œíƒì„ ì°¾ì§€ ëª»í–ˆìŠµë‹ˆë‹¤.
------------------------------------------------------------
LLM ë¶„ì„ ì‹¤íŒ¨: Missing required arguments; Expected either ('input' and 'model') or ('input', 'model' and 'stream') arguments to be given

ğŸ—“ï¸ ì…ë ¥ëœ ì¼ì •: ì ì‹¬ íšŒì˜
ğŸ’¬ AIì˜ ì¶”ì²œ: ì—°ê´€ëœ ì¹´ë“œ í˜œíƒì„ ì°¾ì§€ ëª»í–ˆìŠµë‹ˆë‹¤.
------------------------------------------------------------

===== âœ… ì‹œë®¬ë ˆì´ì…˜ì´ ì„±ê³µì ìœ¼ë¡œ ì™„ë£Œë˜ì—ˆìŠµë‹ˆë‹¤. =====

In [9]:
!curl https://api.openai.com/v1/models -H "Authorization: Bearer $OPENAI_API_KEY"

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
curl: (35) schannel: next InitializeSecurityContext failed: CRYPT_E_NO_REVOCATION_CHECK (0x80092012) - ï¿½Ø´ï¿½ ï¿½Ô¼ï¿½ï¿½ï¿½ï¿½ï¿½ ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ ï¿½ï¿½ï¿½ï¿½ ï¿½Ä±ï¿½ ï¿½ï¿½ï¿½Î¸ï¿½ ï¿½Ë»ï¿½ï¿½ï¿½ï¿½ï¿½ ï¿½ï¿½ï¿½ß½ï¿½ï¿½Ï´ï¿½.